.main-form-div {
    text-align: center;
}

.main-form-div div {
    margin: 1rem;
}

.form-div {
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    position: relative;
}

.form-input {
    padding-left: 12%;
}

.email-input-icon,
.password-input-icon,
.password-visibility-icon {
    position:relative;
}

.email-input-icon {
    top: -180px;
    left: -110px;
}

.password-input-icon {
    top: -90px;
    left: -133px;
}

.password-visibility-icon {
    right: -145px;
    top: -90px;
}

@media screen and (max-width : 800px) {
    .email-input-icon {
        left: -85px;
    }
    .password-input-icon {
        left: -108px;
    }
    .password-visibility-icon {
        right: -115px;
    }
    

}