.main-form-div {
    text-align: center;
}

.main-form-div div {
    margin: 1rem;
}

.auth-form-div {
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    position: relative;
}

.form-input {
    padding-left: 12%;
}

.email-input-icon,
.password-input-icon,
.password-visibility-icon {
    position: relative;
}

.email-input-icon {
    top: -180px;
    left: -110px;
}

.password-input-icon {
    top: -90px;
    left: -133px;
}

.password-visibility-icon {
    right: -145px;
    top: -90px;
}

@media screen and (max-width : 800px) {
    .email-input-icon {
        left: -85px;
    }

    .password-input-icon {
        left: -108px;
    }

    .password-visibility-icon {
        right: -115px;
    }

}

@media screen and (max-width : 500px) {
    /* .email-input-icon {
        left: -82px;
    }
    .password-input-icon {
        left: -108px;
    }
    .password-visibility-icon {
        right: -115px;
    } */


    .form-input {
        padding-left: 13.5%;
    }

}

@media screen and (max-width : 400px) {
    .email-input-icon {
        top: -179px;
    }
    
}