.btn-form{
    background-color: #4552B1;
    color: white;
    border:none;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    font-size:larger ;
    cursor: pointer;
}

.btn-form:hover{
    background-color: #031ff3;
}

@media screen and (max-width :800px) {
    .btn-form{
        width: 200px;
    }
}

@media screen and (max-width : 550px) {
    .btn-form{
        width: 110px;
    }
    
}
